flows/Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <label>Flow</label>
    <recordCreates>
        <name>Creaa</name>
        <label>Create</label>
        <locationX>300</locationX>
        <locationY>261</locationY>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>JPY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <screens>
        <name>First</name>
        <label>First</label>
        <locationX>296</locationX>
        <locationY>119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Creaa</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>295</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>NameResult</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>First</startElementReference>
</Flow>
